.card__item {
  background-color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  border: 3px solid #FFF;
  // cursor: pointer;
  width: 100%;
  // top: 0;
  // left: 0;
  // z-index: 1;
}

.card__item:hover {
  border: 1px solid #6366f1;
}

.card__link {
  color: #6366f1;
  font-size: 1.10rem;
  text-align: center;
  text-decoration: none;
  display: block;
}

.card__link:hover {
  font-weight: bold;
}
