---
title: The thing
---

{#

- https://www.11ty.dev/docs/data-frontmatter-customize/
- https://github.com/11ty/eleventy/issues/2318

#}


{{ categories | debugger }}

{% for cat in categories %}
  <div class="category">
    <h2>{{ cat.label }}</h2>
    <p>slugged: {{ cat.label | slugify }}</p>
    <p>{{ cat.desc }}</p>
  </div>
{% endfor %}
