---
layout: base.njk
title: Andric's Cheatsheets
eleventyExcludeFromCollections: true
---

<div class="container">
  <div class="hero">
    <h1 class="hero__heading">{{title}}</h1>
    <div id="search" class="search"></div>
  </div>
  <div class="columns">
    {% for cat in collections.categories %}
      {% set posts = collections.groupByCategories[cat] %}
      <div class="category">
        <div class="category__posts">
          <h2 class="index__category">
            {# <a href="/{{ cat | slugify | urlize | htmlBaseUrl }}/">{{ cat }} ({{ posts | length }} snippets)</a> #}
            <a href="/{{ cat | slugify | urlize }}/">{{ cat }} ({{ posts | length }} snippets)</a>
          </h2>
        </div>
      </div>
    {% endfor %}
  </div>
</div>  

{# <pre>
  {{ collections.catTree | debug }}
</pre> #}
