---
layout: layouts/base.njk
title: Favorite JavaScript utilities in single line of code
eleventyExcludeFromCollections: true
---

<div class="container">
    <div class="hero">
        <h1 class="hero__heading">My Code Snippets</h1>        
    </div>

    <div>
    {% for cat in collections.categories %}
    {% set posts = collections.groupByCategories[cat] %}
      <div class="category">
        <div class="content">
          <h2 class="collapse">{{ cat }} ({{ posts | length }} snippets)</h2>
          <div class="category__posts">
            {%- for post in posts -%}
              <div class="card__item" onclick="location.href="{{ post.url }};">
                <a class="card__link" href="{{ post.url }}">{{ post.data.title }}</a>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>