:root {
  --category__name-font-size: 1.5rem;
  --category__post-num-columns: 1;
}

.category__name {
  font-size: var(--category__name-font-size);
}

.category__posts {
  top: 0;
  left: 0;
  z-index: 1;
}

.category__layout {
  display: grid;
  grid-template-columns: repeat(var(--category__post-num-columns), 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.category__link {
  background: #4338ca;
  border-radius: 9999px;
  color: #fff;
  display: block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin: 1rem auto;
  width: 12rem;
}

@media (min-width: 768px) {
  :root {
    --category__name-font-size: 2rem;
    --category__post-num-columns: 2;
  }
}

.columns {
  display: grid;
  grid-template-columns: repeat(var(--category__post-num-columns), 1fr);
  column-gap: 1rem;
  // row-gap: 1rem;
}
