@use 'common';

@use 'blocks/card';
@use 'blocks/category';
@use 'blocks/hero';
@use 'blocks/_follow';
@use 'blocks/footer';
@use 'blocks/header';
@use 'blocks/nav';
@use 'blocks/post';
@use 'blocks/indexnav';
@use 'blocks/code';

// Themes
@use 'themes/dracula.scss';

// These two classes are temporary
.snippet-group-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.snippet-group-left {
  // border: 1px solid red;
  flex: 30%;
  max-width: 30%;
}

.idx {
  color: #2427d4;
  text-decoration: underline;
}
