h2.index__category {
  background-color: #c2c3ee;
  border: none;
  outline: none;
  font-size: 25px;
  display: block;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

h2.index__category a {
  color: #4338ca;
}

.header__link a:hover {
  color: #4338ca;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  // color: #4338ca;
  text-decoration: none;
  cursor: pointer;
}
