---
layout: base.njk
---

{% set bCrumbs = collections.crumbs[page | cat] %}
{% include '../partials/crumbs.njk' %}

<div class="post">
  <h1 class="post__heading">{{ title }}</h1>
  <div class="post__content">{{ content | safe }}</div>
</div>
