---
layout: base.njk
---
<div class="container">
  <div class="header">
    <div class="header__breadcrumb">
      <a class="header__link" href="/">[Home]</a>&nbsp;>&nbsp;
      {% for crumb in crumbs %}
        <a class="header__link" href="{{ crumb.url }}">{{ crumb.title }}</a>&nbsp;>&nbsp;
      {% endfor %}
      <span>{{ title }}</span>
    </div>
  </div>

  <div class="tip">
    <h1 class="post__heading">{{ title }}</h1>

    <div class="post">
      <div class="post__content">
        <p>{{ desc | md | safe }}</p>

        {% if page.url === '/code/tips/' %}
          <div>
            <label for="search">Search</label><br>
            <input type="text" id="search" name="search" autofocus />

            <div id="results"> </div>
          </div>
        {% endif %}

        {% if catTreeCount %}
          <div id="category-navigation">
            <h3>Category</h3>
            {% tree catTree %}
          </div>
        {% endif %}

        <div class="snippet-group-container">
          {% for group in collections.groupedSnippets[category].groups %}
            <div class="snippet-group-left">
              <h3><a href="{{snippetBase}}{{category}}{{ group | urlize }}">{{ group }}</a></h3>

              <ul>
                {% for snippet in collections.groupedSnippets[category].snippets[group] %}
                  <li><a href="{{ snippet.url }}">{{ snippet.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
