---
layout: base.njk
---

<div class="container">
  <div class="header">
    <div class="header__breadcrumb">
      <a class="header__link" href="/">[Home]</a>&nbsp;>&nbsp;

      {% for crumb in crumbs %}
        <a class="header__link" href="{{ crumb.url }}">{{ crumb.name }}</a>&nbsp;>&nbsp;
      {% endfor %}
      <span>{{ title }}</span>
    </div>
  </div>

  <div class="tip">
    <h1 class="post__heading">{{ title }}</h1>

    {# <pre>
      {{ catTree | debug }}
    </pre> #}
    
    {# <pre>
      {{ collections.categorySnippets | debug }}
    </pre> #}

    <div class="post">
      <div class="post__content">
        <h3>Category Tree</h3>
        {% tree catTree %}

        <h3>Snippets</h3>
        {% snippetLinks collections.categorySnippets, subcat %}
      </div>
    </div>

    <div>
      <p>{{ desc }}</p>
    </div>

    <div class="post__content">
      {# <ul>
      {% for cat in cats %}
        <li><a href="{{ cat.url }}" >{{ cat.title }}</a></li>
      {% endfor %}
      </ul> #}
    </div>
  </div>
</div>
