---
layout: base.njk
---

{% set catPath = page | cat  %}

<div class="container">
  <div class="header">
    <div class="header__breadcrumb">
      <a class="header__link" href="/">[Home]</a>&nbsp;>&nbsp;

      {% for crumb in collections.crumbs[catPath] %}
        <a class="header__link" href="{{ crumb.url }}">{{ crumb.name }}</a>&nbsp;>&nbsp;
      {% endfor %}

      <span>{{ title }}</span>
    </div>
  </div>

  <div class="post">
    <h1 class="post__heading">{{ title }}</h1>
    <div class="post__content">{{ content | safe }}</div>
  </div>
</div>
