---
layout: base.njk
---

<div class="container">
  <div class="header">
    <div class="header__breadcrumb">
      <a class="header__link" href="/">[Home]</a>&nbsp;>&nbsp;
      <a class="header__link" href="../">{{ category }}</a>&nbsp;>&nbsp;
      <span>{{ title }}</span>
    </div>
  </div>

  {# {{ collections.categories | debugger }} #}

  {# <article data-pagefind-body> #}
    <div class="tip">
      but, like, yeah you know?
      <h1 class="post__heading">{{ title }}</h1>
      <div class="post__content">{{ deets | safe }}</div>
    </div>
</div>
